@import url('./dist/output.css');

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format('woff');
  font-weight: 300;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2'), url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}


:root {
  --twitter-blue: #23a0f0;
  --twitter-normal-text: #536471;
  --twitter-black-text: #0f1419;
  --twitter-light-gray: #eff3f4;
}

body, code {
  color: var(--twitter-normal-text);
  font-family: TwitterChirp, 'Times New Roman';
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--twitter-black-text);
}

p {
  font-weight: 500;
}

button, .button {
  background-color: var(--twitter-blue);
  color: white;
}

.button {
  padding: 10px 20px;
}

output {
  font-weight: bold;
  color: var(--twitter-black-text);
}

nav > ul.flex > li {
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}

nav > ul.flex > li.tab-selected {
  border-bottom: 4px solid var(--twitter-blue);
  color: var(--twitter-blue);
}

.profile-display-name {
  font-weight: bold;
  font-size: 1.2em;
}

.tweet {
  border-top: 1px solid var(--twitter-light-gray);
}

.svg-checkmark {
  fill: var(--twitter-blue);
}

.svg-calendar {
  fill: var(--twitter-normal-text);
}